.col-form-label {
    font-weight: bold;
}

.client-avatar {
    max-height: 200px;
}

.client-avatar-edit-button {
    vertical-align: top;
}

.appButton {
    background-color: #4E78BB;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.deleteButton {
    background-color: #DD5D56;
}