.col-form-label {
  font-weight: bold;
}

.client-avatar {
  max-height: 200px;
  clip-path: circle(40% at center);
}

.client-avatar-edit-button {
  vertical-align: auto;
}

.appButton {
  background-color: #4e78bb;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
