@import "../../../../Sass/theme-core.scss";

h1{
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
};
.btn{
    color: $erp-white;
 }
.btn:hover{
    translate: Y(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

.emailError{
text-align: right;
}


  .box{
      padding: 50px;
  }
  
  .rightSide{
    text-align: right;
  }

  .full-width {
    width: 100%;
}


