$background-color: #F4F5F8;
$btn-background-color: #4E78BB;
$primary: #242A32;
$secondary: #FFFFFF;
$danger: #DD5D56;

h1{
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
};
.btn{
    color: $secondary;
 }
.btn:hover{
    translate: Y(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }


.emailError{
color: $danger;
text-align: right;
}

.container{
        // min-height: 100vh;
        font-family: 'Raleway';
        font-size: 16px;
          
  }

  .box{
      background-color: $secondary;
      padding: 50px;
  }
  
  .rightSide{
    text-align: right;
  }

  .full-width {
    width: 100%;
}
