<!--Recover Password-->

<div class="container pt-5">
  <header class="ml-3 justify-content-between rightSide mx-auto mb-3">
    <!-- <a class="" href="../login.component.htm">Sign-in</a> -->
    <a [routerLink]="['/log-in']">Log In</a>
  </header>

  <div class="box border rounded-3 bg-erp-white mb-5">
    <div class="row mx-auto">
      <div class="col-xs-12 mx-auto col-sm-12 col-md-12 mt-3">
        <h1>Recover password</h1>
      </div>
    </div>

    <div class="row mx-auto mt-4">
      <div class="col-xs-12 mx-auto col-md-2">
        <label for="email" class=" ">E-mail: </label>
      </div>
      <div class="col-xs-12 mx-auto col-md-10">
        <input
          type="email"
          [formControl]="emailCtrl"
          class="form-control full-width bg-erp-silver"
          id="email"
        />
        <p class="emailError" *ngIf="emailCtrl.errors && emailCtrl.dirty">
          Please, enter a valid e-mail
        </p>
      </div>
      <div class="col-xs-12 mx-auto col-md-12 mt-4">
        <button
          [disabled]="emailCtrl.invalid"
          type="submit"
          (click)="open(content)"
          class="btn bg-erp-blue full-width"
        >
          Send me a temporary password
        </button>
      </div>
    </div>

    <!--Pop up informative window -->
    <ng-template #content let-modal>
      <div class="modal-body">
        <p>
          If account exists, an e-mail with a temporary password will be sent
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn bg-erp-blue"
          (click)="modal.close('Save click')"
        >
          Accept
        </button>
      </div>
    </ng-template>

    <!--END Pop up informative window -->
  </div>
</div>
<!-- END recover password -->
