<div class="container-fluid bg-erp-silver">
  <div class="card border-0 col-10 mx-auto">
    <div class="card-body text-center bg-erp-silver pt-5">
      <h2 class="card-title fw-bold fs-1">Sign up</h2>
      <a class="pt-2 pb-4"
         [routerLink]="['/log-in']"
         routerLinkActive="router-link-active">Already a member?</a>
    </div>
    <div class="card-body">
      <form action=""
            class="row g-3 needs-validation"
            [formGroup]="signUpForm"
            (ngSubmit)="onSubmit()"
            novalidate>
        <div class="col-md-3 p-4">
          <label class="form-label ps-1">First name</label>
          <input type="text"
                 class="form-control"
                 formControlName="inputName"
                 [ngClass]="{'is-invalid':isValidInput('inputName')}">
          <div class="invalid-feedback">
            <span *ngIf="signUpForm.get('inputName')?.errors?.required">
              Your name is required
            </span>
            <span *ngIf="signUpForm.get('inputName')?.errors?.minlength">
              Minimum {{signUpForm.get('inputName')?.errors?.minlength.requiredLength}} characters required
            </span>
          </div>
        </div>
        <div class="col-md-3 p-4">
          <label class="form-label ps-1">Last name</label>
          <input type="text"
                 class="form-control"
                 formControlName="inputSurname"
                 [ngClass]="{'is-invalid':isValidInput('inputSurname')}">
          <div class="invalid-feedback">
            <span *ngIf="signUpForm.get('inputSurname')?.errors?.required">
              Your surname is required
            </span>
            <span *ngIf="signUpForm.get('inputSurname')?.errors?.minlength">
              Minimum {{signUpForm.get('inputSurname')?.errors?.minlength.requiredLength}} characters required
            </span>
          </div>
        </div>
        <div class="col-md-3 p-4">
          <label class="form-label ps-1">DNI</label>
          <input type="text"
                 class="form-control"
                 formControlName="inputDNI"
                 [ngClass]="{'is-invalid':isValidInput('inputDNI')}">
          <div class="invalid-feedback">
            <span *ngIf="signUpForm.get('inputDNI')?.errors?.validateDNI">
              {{signUpForm.get('inputDNI').errors.validateDNI}}
            </span>
          </div>
        </div>
        <div class="col-md-3 p-4">
          <label class="form-label ps-1">CIF</label>
          <input type="text"
                 class="form-control"
                 formControlName="inputCIF"
                 [ngClass]="{'is-invalid':isValidInput('inputCIF')}">
          <div class="invalid-feedback">
            <span *ngIf="signUpForm.get('inputCIF')?.errors?.required">
              Your CIF is required
            </span>
            <span *ngIf="signUpForm.get('inputCIF')?.errors?.pattern">
              Provide a valid CIF (1 letter and 8 numbers)
            </span>
          </div>
        </div>
        <div class="row mx-auto"
             formGroupName="address">
          <div class="col-md-12 py-4">
            <label class="form-label ps-1">Address</label>
            <input type="text"
                   class="form-control"
                   formControlName="inputAddress"
                   [ngClass]="{'is-invalid':isValidInput('address.inputAddress')}">
            <div class="invalid-feedback">
              <span *ngIf="signUpForm.get('address.inputAddress')?.errors?.required">
                Your address is required
              </span>
            </div>
          </div>

          <div class="col-md-6 py-4">
            <label class="form-label ps-1">City</label>
            <input type="text"
                   class="form-control"
                   formControlName="inputCity"
                   [ngClass]="{'is-invalid':isValidInput('address.inputCity')}">
            <div class="invalid-feedback">
              <span *ngIf="signUpForm.get('address.inputCity')?.errors?.required">
                Please provide a valid city.
              </span>
              <span *ngIf="signUpForm.get('address.inputCity')?.errors?.minlength">
                Minimum {{signUpForm.get('address.inputCity')?.errors?.minlength.requiredLength}} characters required
              </span>
            </div>
          </div>
          <div class="col-md-3 py-4">
            <label class="form-label ps-1">Province</label>
            <select class="form-select"
                    formControlName="inputProvince"
                    [ngClass]="{'is-invalid':isValidInput('address.inputProvince')}">
              <option selected
                      value="">Choose...</option>
              <option>Alacant</option>
              <option>Barcelona</option>
              <option>Granada</option>
              <option>Soria</option>
              <option>Zamora</option>
            </select>
            <div class="invalid-feedback">
              <span *ngIf="signUpForm.get('address.inputProvince')?.errors?.required">
                Your province is required
              </span>
            </div>
          </div>
          <div class="col-md-3 py-4">
            <label class="form-label ps-1">Zip</label>
            <input type="text"
                   class="form-control"
                   formControlName="inputZIP"
                   [ngClass]="{'is-invalid':isValidInput('address.inputZIP')}">
            <div class="invalid-feedback">
              <span *ngIf="signUpForm.get('address.inputZIP')?.errors?.required">
                Your zip code is required
              </span>
              <span *ngIf="signUpForm.get('address.inputZIP')?.errors?.pattern">
                Please provide a valid zip (5 numbers)
              </span>

            </div>
          </div>
        </div>
        <div class="col-md-4 p-4">
          <label class="form-label ps-1">Email</label>
          <input type="email"
                 class="form-control"
                 formControlName="inputEmail"
                 [ngClass]="{'is-invalid':isValidInput('inputEmail')}">
          <div class="invalid-feedback">
            <span *ngIf="signUpForm.get('inputEmail')?.errors?.required">
              Your email is required
            </span>
            <span *ngIf="signUpForm.get('inputEmail')?.errors?.pattern">
              Email format is invalid
            </span>
          </div>
        </div>
        <div class="col-md-4 p-4">
          <label class="form-label ps-1">Password</label>
          <div class="input-group">
            <input type="password"
                   id="inputPassword"
                   class="form-control"
                   formControlName="inputPassword"
                   [ngClass]="{'is-invalid':isValidInput('inputPassword')}">
            <span class="btn bg-erp-blue"
                  (click)="showPassword('inputPassword', 'eyePass')">
              <i id="eyePass"
                 class="fas fa-eye-slash"></i>
              <!-- [ngClass]="iconEye ? 'fa-eye' : 'fa-eye-slash'" -->
            </span>
            <div class="invalid-feedback">
              <span *ngIf="signUpForm.get('inputPassword')?.errors?.required">
                The password is required
              </span>
              <span *ngIf="signUpForm.get('inputPassword')?.errors?.pattern">
                The password needs at least 8 characters with numbers, uppercase and lowercase letters and one
                special character minimum.
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-4">
          <label class="form-label ps-1">Repeat password</label>
          <div class="input-group">
            <input type="password"
                   id="inputRepeatPass"
                   class="form-control"
                   formControlName="inputRepeatPass"
                   [ngClass]="{'is-invalid':matchPasswords()}">
            <span class="btn bg-erp-blue"
                  (click)="showPassword('inputRepeatPass', 'eyeRepeatPass')">
              <i id="eyeRepeatPass"
                 class="fas fa-eye-slash"></i>
            </span>
            <div class="invalid-feedback">
              <span *ngIf="signUpForm.get('inputRepeatPass')?.errors?.required">
                The password doesn't match
              </span>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-3">
          <button class="btn"
                  type="submit"
                  (click)="open(content)"
                  [disabled]="!signUpForm.valid">Submit</button>
        </div>
      </form>
      <ng-template #content
                   let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Succesful Registration!</h5>
        </div>
        <div class="modal-body">
          You will be redirect to your company account.
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-outline-dark"
                  (click)="modal.close('Save click')">
            ACCEPT
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>