
<div class="html">
<div class="container pt-5">
  <div class="row mx-auto">
    <div class="col-xs-12 mx-auto col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <h1 class="text-center pb-3">Sign up</h1>
      <div class="d-flex justify-content-between">
        <a class="ps-2" [routerLink]="['/home']">Already a member?</a>
    <!-- TODO: redireccionar a Home. Hacer git pull origin Dev antes para actualizar -->
      <button
        type="submit"
        class="btn"
      >
        BACK
      </button>
      </div>
    </div>
  </div>

  <!-- TODO: hacer pop up de registro correcto onSubmit -->
  <form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)" class="mx-auto row pt-3 pb-4">
      <div class="form-group mx-auto pb-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex">
          <label class="p-2 col-2" for="exampleInputEmail1">Name: </label>
          <div class="col-10">
            <input
              type="text"
              name="businessName"
              class="form-control"
              [ngClass]="{'is-invalid': businessName.touched && !businessName.valid}"
              #businessName="ngModel" [(ngModel)]="new_user.businessName"
              required pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"
            >
            <div *ngIf="businessName.touched && !businessName.valid" class="invalid-feedback">
              This field is required!
            </div>
          </div>
      </div>

      <div class="form-group mx-auto pb-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex">
          <label class="p-2 col-2" for="exampleInputEmail1">CIF: </label>
          <div class="col-10">
            <input
            type="text"
            name="cif"
            class="form-control"
            [ngClass]="{'is-invalid': cif.touched && !cif.valid}"
            #cif="ngModel" [(ngModel)]="new_user.cif"
            required pattern="^[a-zA-Z]{1}\d{7}[a-zA-Z0-9]{1}$"
          >
            <div *ngIf="cif.touched && !cif.valid" class="invalid-feedback">
              This CIF does not match the standard format!
            </div>
          </div>
      </div>

      <div class="form-group mx-auto pb-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex">
          <label class="p-2 col-2" for="exampleInputEmail1">Email: </label>
          <div class="col-10">
          <input
            type="email"
            name="email"
            class="form-control"
            [ngClass]="{'is-invalid': email.touched && !email.valid}"
            #email="ngModel"
            [(ngModel)]="new_user.email"
            required pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
          >
          <div *ngIf="email.touched && !email.valid" class="invalid-feedback">
            This email does not match the standard format!
        </div>
          </div>
      </div>

<!-- TODO: poner asteriscos y quizás opción de ver -->
      <div class="form-group mx-auto pb-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex">
        <label class="p-2 col-2" for="exampleInputEmail1">Password: </label>
        <div class="col-10">
          <input
          type="text"
          name="password"
          class="form-control"
          [ngClass]="{'is-invalid': password.touched && !password.valid}"
          #password="ngModel"
          [(ngModel)]="new_user.password"
          required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,}$"
          >
          <div *ngIf="password.touched && !password.valid" class="invalid-feedback">
            This password does not match the required format!
          </div>
        </div>
      </div>

      <div class="form-group mx-auto pb-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex">
          <label class="p-2 col-2" for="exampleInputEmail1">Password: </label>
          <div class="col-10">
            <input
              type="text"
              name="password-control"
              class="form-control"
              [ngClass]="{'is-invalid': password2.touched && !password2.valid && password !== password2}"
              #password2="ngModel"
              [(ngModel)]="password_conf"
              required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,}$"
            >
            <div *ngIf="password2.touched && !password2.valid" class="invalid-feedback">
              This password does not match the password written above!
            </div>
          </div>
      </div>

      <div class="form-group d-grid pt-2 mx-auto col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <button
              type="submit"
              class="btn"
              [disabled]="!formContacto.form.valid"
          >
              SUBMIT
          </button>
      </div>
    </form>
</div>
</div>
