
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background-color: #4E78BB;
  color:#FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.card {
   margin-bottom: 5rem !important;
   }
   .form-control,
   .form-select {
     border: 0;
     border-bottom: 1px solid #ced4da;
     }
