///////////////////////////////////////////////
// HARDCORE 'modify by important!' TECHNIQUE //
///////////////////////////////////////////////

/*
ALERT!

	YOU SHOULD LEAVE THIS FILE EMPTY

	Overriding B5 classes by old technique (used in Bootstrap)
	of using the "!important" CSS rule is not a good practice.
	Use it under your responsibility, only in extreme cases.
	That technique is really NOT encouraged.

	There's a better way of customizing B5 classes. 
	To do so, go to this project's...
	
	"Sass/_custom-classes.scss"
	
*/

// TYPOGRAPHY //

.btn,
.navbar {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.navbar-brand {
  text-transform: uppercase;
}

// BUTTONS //

.btn {
  &:hover {
    transform: translateY(-3px);
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.35);
    transition: transform 0.2s, box-shadow 0.2s;
  }
}

// LINKS //

.nav-link {
  text-decoration: none;
}
