////////////////////////////////////////////////
// GLOBAL STYLING, independent from B5 syntax //
////////////////////////////////////////////////

// Here, you can define global SASS/CSS styles which will apply on the whole app

/*
Example:

// global vars
$root-bg: papayawhip;

// global styles from shell (above Angular's component's scope)
:root {
  background-color: darken($root-bg, 10); #222222
  body {
    background-color: $root-bg;
    user-select: none;
  }
}
*/

////////////////////
// GLOBAL STYLING //
////////////////////

// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
}

// TODO: this is override actually. Can we modify .btn SASS?

// header,
.btn,
.navbar {
  font-size: 16px;
}

// BUTTONS
.btn {
  &:hover {
    transform: translateY(-3px);
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.35);
    transition: transform 0.2s, box-shadow 0.2s;
  }
}
