h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #242A32;
}
p{
    font-family: 'Raleway', sans-serif;
    color: #242A32;
}

.tablaRating{
  font-size: small;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 25px;
}

.tablaRating2{
  font-size: small;
  width:max-content;
  height: min-content;
}

.salaryprofit{
  margin-left: 30px;
}


td:hover{
  background-color: grey;
  color:white;
}

