<nav class="navbar navbar-dark bg-erp-black">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarContent"
      aria-controls="sidebarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="collapse" id="sidebarContent">
  <ul class="bg-erp-black text-erp-white list-unstyled p-4">
    <li>Aqwdwqdqwdqwdqwdqdq</li>
    <li>Bqwdwqdqwdqwdqwdqdq</li>
    <li>Cqwdwqdqwdqwdqwdqdq</li>
  </ul>
</div>
