<nav class="bg-erp-black p-2 vh-100">
  <button
    class="btn btn-sm btn-outline-erp-cyan fw-bold mt-2"
    (click)="toggleSidebar()"
  >
    ERP
  </button>

  <!-- <small
    class="d-block text-erp-cyan position-relative top-custom ms-5 overflow-hidden"
  >
    Employee
  </small> -->

  <ul class="list-unstyled position-relative top-custom">
    <li class="overflow-hidden py-1">
      <span class="h6 sidebar-role mx-3">
        <i class="{{ userType.role[0] }} me-3"></i>
        <span class="text-capitalize"> {{ userType.role[1] }} </span>
      </span>
    </li>

    <li *ngFor="let fn of userType.operations" class="overflow-hidden py-1">
      <a class="sidebar-link mx-3" routerLink="{{ fn[2] }}">
        <i class="{{ fn[0] }} me-3"></i>
        <span class="ms-1 text-lowercase"> {{ fn[1] }} </span>
      </a>
    </li>
  </ul>
</nav>
