<div class="container mt-5">
  <div class="card m-5">
    <div class="card-body">
      <span class="h3">Working Hours</span>
      <hr />

      <span>Jane Doe</span>
      <div class="col-sm-12 d-flex justify-content-end">
        <a [routerLink]="['/employees-list']">Back Employee</a>
      </div>
      <table class="table table-hover mt-5 p-2">
        <thead>
          <tr>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Total</th>
          </tr>
        </thead>

        <tbody>
          <!-- <tr *ngFor="let item of WorkingHours | keyvalue; let i = index">
            <td>{{ item.key }}:{{ item.value }}</td>
            <td>{{ item.date }}:{{item.[0]</td>
            <td>{{ item | json }}</td>
            <td>{{ item | json }}</td>
          </tr> -->
          <tr>
            <td>2021/06/19</td>
            <td>07:00:00</td>
            <td>18:00:00</td>
            <td>9h</td>
          </tr>
          <tr>
            <td>2021/06/17</td>
            <td>06:00:00</td>
            <td>15:00:00</td>
            <td>7h</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
