<!-- FIXME: consider using Bootsrap 5 dropdown component
https://getbootstrap.com/docs/5.0/components/dropdowns/
you won't regret it! ;) -->

<header>
  <div class="navbar navbar-top navbar-expand-md header px-5 py-0 bg-erp-white">
    <div class="col-1">
      <fa-icon [icon]="faBars" size="lg"></fa-icon>
      <!-- TODO: consider using classical syntax, like <i class="fas fa-copyright"></i>  -->
    </div>

    <div class="col">
      <app-header-search></app-header-search>
    </div>

    <div class="col d-flex justify-content-end align-items-center">
      <app-notifications class="ms-auto me-3"></app-notifications>

      <app-admin></app-admin>
    </div>

    <div class="col-1 contenedor-botones d-flex justify-content-end">
      <select #langSelect (change)="changeLanguage(langSelect.value)">
        <option *ngFor="let lang of langs"> {{lang}} </option>
      </select>

    </div>
  </div>
</header>
