<!-- links and routerLinkActive needs to be added -->
<div class="container">
	<nav class="navbar nav-color navbar-expand-md">
	  <div class="container-fluid">
		<button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-client" aria-controls="navbar-client" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-client">
		  <ul class="navbar-nav mx-2 p-1 mb-2 mb-md-0">
			<li class="nav-item my-1 my-md-0">
			  <a class="nav-link" role="button" routerLink="">Home</a>
			</li>
			<li class="nav-item mb-1 mb-md-0">
			  <a class="nav-link" role="button" routerLink="">About</a>
			</li>
			<li class="nav-item mb-1 mb-md-0">
			  <a class="nav-link" role="button" routerLink="">Products</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" role="button" routerLink="">Contact</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
  </div>
