<section class="d-block gx-0">
  <p class="bg-erp-pink text-erp-firebrick text-center p-2 mb-0">
    <span>
      This button group give us developers access to all existing views.
    </span>
    <span> To be removed in production mode </span>
  </p>

  <!-- button group -->
  <div
    class="d-flex flex-wrap justify-content-center border-bottom border-erp-pink border-3 py-3 provisional-mb"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <!-- 404 -->
    <input
      routerLink="dev/404"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio1"
      autocomplete="off"
      checked
    />
    <label class="btn btn-outline-erp-purple m-2" for="btnradio1">404</label>

    <!-- SING UP -->
    <input
      routerLink="dev/sign-up"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio2"
      autocomplete="off"
    />
    <label class="btn btn-outline-erp-purple m-2" for="btnradio2"
      >SING UP</label
    >

    <!-- LOG IN -->
    <input
      routerLink="dev/log-in"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio3"
      autocomplete="off"
    />
    <label class="btn btn-outline-erp-purple m-2" for="btnradio3"
      >LOG IN</label
    >

    <!-- RECOVER PASS -->
    <input
      routerLink="dev/recover-pass"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio4"
      autocomplete="off"
    />
    <label class="btn btn-outline-erp-purple m-2" for="btnradio4"
      >RECOVER PASS</label
    >

    <!-- LICENSE -->
    <input
      routerLink="dev/licence"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio5"
      autocomplete="off"
    />
    <label class="btn btn-outline-erp-purple m-2" for="btnradio5"
      >LICENSE</label
    >

    <!-- PRODUCT LIST -->
    <input
      routerLink="dev/product-list"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio6"
      autocomplete="off"
    />
    <label class="btn btn-outline-erp-purple m-2" for="btnradio6"
      >PRODUCT LIST</label
    >

    <!-- SINGLE PRODUCT -->
    <input
      routerLink="dev/single-product"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio7"
      autocomplete="off"
    />
    <label class="btn btn-outline-erp-purple m-2" for="btnradio7"
      >SINGLE PRODUCT</label
    >

    <!-- ADMIN -->
    <input
      routerLink="dev/admin"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio8"
      autocomplete="off"
    />
    <label class="btn btn-outline-erp-purple m-2" for="btnradio8">ADMIN</label>

      <!-- New client -->
      <input
      routerLink="dev/new-client"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio9"
      autocomplete="off"
      checked
    />
    <label class="btn btn-outline-erp-purple m-2" for="btnradio9">New client</label> 

  </div>
</section>
