<div class="container">
  <h4 class="text-center py-5">{{ "Employees-list.page-head" | translate }}</h4>
  <!-- Search -->
  <div class="row mb-5">
    <div class="col-sm-12 d-inline-flex justify-content-end">
      <div class="col-sm-3 me-4">
        <form (ngSubmit)="search()" autocomplete="off">
          <input
            class="form-control me-4 rounded-pill"
            name="name"
            class="form-control"
            [(ngModel)]="name"
            type="search"
            placeholder="{{ 'searchph for name' | translate }} ..."
            aria-label="Search"
          />
        </form>
      </div>

      <button
        (click)="goEditEmployee('new')"
        class="btn btn-erp-blue text-erp-white"
        title="{{ 'Employees-list.button.new-employee' | translate }}"
      >
        {{ "Employees-list.button.new-employee" | translate }}
      </button>
    </div>
  </div>
  <div
    *ngIf="errorAPI"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>Employee not found!! </strong> The Term: {{ name }} doesn't exist.
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <!-- Employees data -->
  <div class="table-responsive mb-2">
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <!-- <th class="text-start" scope="col ">
            {{ "Employees-list.list.head-id" | translate }}
            <fa-icon [icon]="faSort"></fa-icon>
          </th> -->
          <th (click)="orderBy('name')" class="text-start" scope="col ">
            <fa-icon [icon]="faSort"></fa-icon>
            {{ "Employees-list.list.head-name" | translate }}
          </th>
          <th
            (click)="orderBy('total-sellings')"
            class="text-start"
            scope="col "
          >
            {{ "Employees-list.list.head-total-sellings" | translate }}
            <fa-icon [icon]="faSort"></fa-icon>
          </th>
          <th
            (click)="orderBy('orders-attended')"
            class="text-start"
            scope="col "
          >
            {{ "Employees-list.list.head-orders-attended" | translate }}
            <fa-icon [icon]="faSort"></fa-icon>
          </th>

          <th (click)="orderBy('start-date')" class="text-start">
            {{ "Employees-list.list.head-start-date" | translate }}
            <fa-icon [icon]="faSort"></fa-icon>
          </th>

          <th (click)="orderBy('status')" class="text-start">
            {{ "Employees-list.list.head-status" | translate }}
            <fa-icon [icon]="faSort"></fa-icon>
          </th>

          <th class="text-center" scope="col-1">
            {{ "Employees-list.list.head-options" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let employee of employees | filter: name | sort: order;
            let i = index
          "
        >
          <!-- <td>
            {{ employee.id }}
          </td> -->
          <td>{{ employee.name }} {{ employee.surname }}</td>
          <td>
            {{ employee.total_sales }}
          </td>
          <td>
            {{ employee.total_orders_attended }}
          </td>

          <td>{{ employee.in_date }}</td>
          <td>
            <div class="form-check">
              <input
                *ngIf="!employee.out_date === true"
                type="checkbox"
                [(ngMode)]="employee.out_date"
                checked="checked"
              />
              Active
            </div>

            <!-- Edit/Delete -->
          </td>

          <td class="pr-td p-0">
            <div class="d-flex justify-content-center align-items-center">
              <!-- Edit -->
              <button (click)="goEditEmployee(employee.id)" class="btn">
                <fa-icon
                  [icon]="faEdit"
                  size="lg"
                  title="{{ 'btn.edit' | translate }}"
                  role="button"
                ></fa-icon>
              </button>

              <!-- Delete -->
              <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                title="{{ 'btn.delete' | translate }}"
                [attr.data-bs-target]="'#delete' + i"
              >
                <fa-icon
                  class="deleteIcon"
                  size="lg"
                  role="button"
                  [icon]="faTrashAlt"
                >
                </fa-icon>
              </button>
              <!-- Show WorkingHours -->
              <button
                [name]="nameEmployee"
                (click)="goWorkingHours()"
                class="btn"
              >
                <fa-icon
                  [icon]="faCalendarAlt"
                  size="lg"
                  title="{{ 'btn.calendar' | translate }}"
                  role="button"
                ></fa-icon>
              </button>
            </div>
          </td>

          <!-- Modal -->
          <div
            class="modal fade modalMessage"
            tabindex="-1"
            aria-hidden="true"
            [id]="'delete' + i"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">
                    {{ "Employees-list.modal.title" | translate }}
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>

                <div class="modal-body">
                  {{ "Employees-list.modal.message" | translate }} "{{
                    employee.user.username
                  }}"?
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn appButton text-uppercase"
                    data-bs-dismiss="modal"
                  >
                    {{ "Employees-list.modal.button-no" | translate }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary deleteButton text-uppercase"
                    data-bs-dismiss="modal"
                    (click)="delete(i)"
                  >
                    {{ "Employees-list.modal.button-delete" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="row d-flex justify-content-end mb-5">
    <!-- Page numbers -->
    <div
      class="
        col-12 col-lg-8
        d-flex
        flex-column
        justify-content-center
        align-items-center
      "
    >
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{ disabled: isFirstPage() }">
            <a
              class="page-link rounded-circle"
              href="#"
              aria-label="Previous"
              (click)="gotoPrevPage()"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            *ngFor="let page of pagesArray"
            class="page-item"
            [ngClass]="{ disabled: page == currentPage }"
          >
            <a
              class="page-link rounded-circle"
              href="#"
              (click)="goToPage(page)"
              >{{ page }}</a
            >
          </li>
          <li class="page-item" [ngClass]="{ disabled: isLastPage() }">
            <a
              class="page-link rounded-circle"
              href="#"
              aria-label="Next"
              (click)="gotoNextPage()"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Go to page section -->
    <div
      class="
        col-12 col-lg-3
        d-flex
        justify-content-end
        align-items-center align-self-center
      "
    >
      <p class="text-center p-0 m-0 no-wrap">
        {{ "btn.go-to-page" | translate }}:
      </p>
      <div class="col-3 col-sm-2 col-md-1 col-lg-3 me-2 ms-2">
        <input
          type="search"
          class="form-control rounded-pill"
          aria-label="go to page"
          pattern="[0-9]*"
          value=""
          [(ngModel)]="pageToGo"
        />
      </div>
      <button
        type="button"
        class="btn btn-erp-blue text-erp-white rounded-pill"
        title="{{ 'btn.go-to-page' | translate }}"
        (click)="goToPage(pageToGo)"
      >
        {{ "btn.go" | translate }}
      </button>
    </div>
  </div>
</div>
