.pop-up{
    width: 350px;
    background-color: #F4F5F8;
    position: fixed;
    bottom: 100px;
    right: 10px;
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.35);
    border-radius: 7px;
    .title-pop-up{
      margin: 5px auto 0 auto;
    }
    fa-icon{
        font-size: 36px;
        margin: auto;
    }
    .info-pop-up p{
        margin: auto 0;
    }
    .hover:hover{
        background-color: #d3d3d3 ;
       border-radius:4px ;
        cursor: pointer;
    }
}