@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Raleway:wght@400;600&display=swap');

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #242A32;
}

.appButton {
    background-color: #4E78BB;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.table {
    font-family: 'Raleway', sans-serif;
    color: #242A32;
}

.deleteIcon {
    color: #DD5D56;
}

.deleteButton {
    background-color: #DD5D56;
}