<!-- FIXME: Remove in production! - DEVELOPMENT MODE LOG IN -->
<button
  class="d-block mb-3 mx-auto btn btn-outline-erp-purple btn-sm"
  (click)="autoLogin()"
>
  dev log in
</button>

<!-- SERVER RESPONSE ALERT -->
<div
  *ngIf="showAlert"
  id="loginAlert"
  class="mb-3 mx-auto text-center border rounded-3"
  [ngClass]="{
    'border-erp-darkgreen': server,
    'text-erp-darkgreen': server,
    'bg-erp-palegreen': server,
    'border-erp-firebrick ': !server,
    'text-erp-firebrick ': !server,
    'bg-erp-pink': !server
  }"
>
  <small>{{ msg }}</small>
</div>

<!-- ADMIN NAVBAR -->
<section
  id="adminNavbar"
  class="d-flex mb-1 justify-content-between align-items-center p-2 mx-auto bg-erp-white border rounded-pill"
>
  <span class="ps-2">
    header log in / sign up
    <code>(F1.7 - working on it)</code>
  </span>

  <button type="submit" class="btn btn-erp-cyan me-3">
    <a [routerLink]="['/sign-up']" class="text-erp-white">
      sign up
      <i class="fas fa-user-plus"></i>
    </a>
  </button>
</section>

<!-- FORM -->
<form
  [formGroup]="form"
  (ngSubmit)="send()"
  class="mx-auto p-4 bg-erp-white border rounded-3"
>
  <div class="row mb-3">
    <div class="col d-flex">
      <h2 class="text-uppercase">log in</h2>

      <!-- spiner -->
      <div
        class="spinner-grow text-erp-blue ms-4"
        role="status"
        [class.visually-hidden]="!server"
      ></div>
    </div>
  </div>

  <!-- TOGGLER - Email vs. NIF -->
  <a class="mb-4" (click)="toggleNIF()"
    >Click to select <b>Email</b> or <b>NIF</b>
  </a>

  <!-- EMAIL -->
  <div class="row mb-3" *ngIf="!NIF">
    <label for="loginEmail" class="col-4 col-form-label">Email</label>
    <div class="col">
      <input
        #ref0
        id="loginEmail"
        type="email"
        formControlName="email"
        class="form-control bg-erp-silver"
        [class.is-invalid]="validateOnTouched(ref0) > 0"
        autocomplete="off"
      />
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref0) === 1">
        email required
      </small>
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref0) === 2">
        <span class="d-block text-justify"> Enter a valid email pattern </span>
        <span class="d-block"> Example: account@email.com </span>
      </small>
    </div>
  </div>

  <!-- NIF -->
  <div class="row mb-3" *ngIf="NIF">
    <label for="loginNIF" class="col-4 col-form-label">NIF</label>
    <div class="col">
      <input
        #ref1
        id="loginNIF"
        type="text"
        formControlName="nif"
        class="form-control bg-erp-silver"
        [class.is-invalid]="validateOnTouched(ref1) > 0"
        autocomplete="off"
      />
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref1) === 1">
        NIF required
      </small>
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref1) === 2">
        <span class="d-block text-justify"> Enter a valid NIF pattern </span>
        <span class="d-block"> Example: W1234567E </span>
      </small>
    </div>
  </div>

  <!-- PASSWORD -->
  <div class="row mb-3">
    <label for="loginPassword" class="col-4 col-form-label">Password</label>
    <div class="col">
      <div class="d-flex">
        <input
          #ref2
          id="loginPassword"
          type="password"
          formControlName="password"
          class="form-control bg-erp-silver"
          [class.is-invalid]="validateOnTouched(ref2) > 0"
          autocomplete="off"
        />
        <button
          #eye
          class="bg-erp-blue text-erp-silver"
          type="button"
          (click)="toggleEye(eye, ref2)"
        >
          <!-- icon : eye -->
          <i class="fas fa-eye-slash"></i>
        </button>
      </div>

      <small
        class="invalid-feedback text-justify"
        *ngIf="validateOnTouched(ref2) === 1"
      >
        password required
      </small>
      <small
        class="invalid-feedback text-justify"
        *ngIf="validateOnTouched(ref2) === 2"
      >
        The password must have between 8 and 12 characters, including one
        uppercase letter, one lowercase letter, one special character and one
        number
      </small>
    </div>
  </div>

  <!-- FORGOT PASSWORD? -->
  <a [routerLink]="['/recover-password']" class="my-3"
    >Did you forget your password?</a
  >

  <!-- submit -->
  <button
    class="btn text-erp-white w-100"
    type="submit"
    name="submited"
    value="valid"
    [class.btn-erp-blue]="!disabled || submitable"
    [class.btn-erp-red]="disabled && !submitable"
    [disabled]="disabled && !submitable"
  >
    log in
    <i class="fas fa-sign-in-alt"></i>
  </button>

  <!-- DEBUGG -->
  <!-- <pre class="border border-danger p-3">
      form.valid: {{ form.valid }}
      form.status: {{ form.status }}
      form.value:
      {{ form.value | json }}
      disabled: {{ disabled }}
      submitable: {{ submitable }}      
  </pre> -->
</form>
