<!-- FIXME: programmatic MODAL : B5 "data-bs-toggle", "data-bs-target" -->
<!-- <button
  type="button"
  class="btn btn-erp-red"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  replace button by programmatic call
</button> -->

<!-- FIXME: programmatic MODAL : B5 "data-bs-toggle", "data-bs-target" -->
<!-- <div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Invalid operation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Please, try again or sing up before logging in
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-erp-black text-erp-white"
          data-bs-dismiss="modal"
        >
          try again
        </button>
        <button type="button" class="btn btn-erp-blue text-erp-white">
          <a routerlink="sign-up" class="text-erp-white">
            sign up
            <i class="fas fa-user-plus"></i>
          </a>
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- ADMIN NAVBAR -->
<header
  class="d-flex justify-content-between align-items-center p-2 mx-auto mb-3 bg-erp-white border rounded-pill"
>
  <span class="ps-2">
    header log in / sign up
    <code>(F1.7 - working on it)</code>
  </span>

  <button type="submit" class="btn btn-erp-cyan me-3">
    <a [routerLink]="['/sign-up']" class="text-erp-white">
      sign up
      <i class="fas fa-user-plus"></i>
    </a>
  </button>
</header>

<!-- FIXME: Remove in production! - PROVISIONAL DIRECT LOGIN-->
<button
  class="d-block mb-4 mx-auto btn btn-erp-red text-erp-white"
  (click)="autoLogin()"
>
  automatic log in
</button>
<small class="d-block mx-auto text-center text-erp-red">
  username: 'D3831093R'
</small>
<small class="d-block mx-auto text-center text-erp-red">
  password: 'Dev@lop3rs'
</small>
<h3 class="h5 d-block mx-auto text-center text-erp-purple">token</h3>
<small id="token" class="d-block mx-auto text-justify text-erp-purple border border-purple">
  {{ token["token"] }}
</small>

<!-- FORM -->
<form
  [formGroup]="form"
  (ngSubmit)="send()"
  class="mx-auto p-4 bg-erp-white border rounded-3"
>
  <div class="row mb-3">
    <h2 class="text-uppercase">log in</h2>
  </div>

  <!-- TOGGLER - Email vs. NIF -->
  <a class="mb-4" (click)="toggleNIF()"
    >Click to select <b>Email</b> or <b>NIF</b>
  </a>

  <!-- EMAIL -->
  <div class="row mb-3" *ngIf="!NIF">
    <label for="loginEmail" class="col-4 col-form-label">Email</label>
    <div class="col">
      <input
        #ref0
        id="loginEmail"
        type="email"
        formControlName="email"
        class="form-control bg-erp-silver"
        [class.is-invalid]="validateOnTouched(ref0) > 0"
        autocomplete="off"
      />
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref0) === 1">
        email required
      </small>
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref0) === 2">
        Enter a valid email pattern. Example: account@email.com
      </small>
    </div>
  </div>

  <!-- NIF -->
  <div class="row mb-3" *ngIf="NIF">
    <label for="loginNIF" class="col-4 col-form-label">NIF</label>
    <div class="col">
      <input
        #ref1
        id="loginNIF"
        type="text"
        formControlName="nif"
        class="form-control bg-erp-silver"
        [class.is-invalid]="validateOnTouched(ref1) > 0"
        autocomplete="off"
      />
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref1) === 1">
        NIF required
      </small>
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref1) === 2">
        Enter a valid NIF pattern. Example: W1234567E
      </small>
    </div>
  </div>

  <!-- PASSWORD -->
  <div class="row mb-3">
    <label for="loginPassword" class="col-4 col-form-label">Password</label>
    <div class="col">
      <input
        #ref2
        id="loginPassword"
        type="password"
        formControlName="password"
        class="form-control bg-erp-silver"
        [class.is-invalid]="validateOnTouched(ref2) > 0"
        autocomplete="off"
      />
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref2) === 1">
        password required
      </small>
      <small class="invalid-feedback" *ngIf="validateOnTouched(ref2) === 2">
        The password must have minimum eight characters, including one uppercase
        letter, one lowercase letter, one special character and one number
      </small>
    </div>
  </div>

  <!-- FORGOT PASSWORD? -->
  <a [routerLink]="['/recover-password']" class="my-3"
    >Did you forget your password?</a
  >

  <!-- submit -->
  <button
    class="btn text-erp-white w-100"
    type="submit"
    name="submited"
    value="valid"
    [class.btn-erp-blue]="!disabled || submitable"
    [class.btn-erp-red]="disabled && !submitable"
    [disabled]="disabled && !submitable"
  >
    <!-- [attr.aria-disabled]="disabled && !submitable" -->
    log in
    <i class="fas fa-sign-in-alt"></i>
  </button>

  <!-- DEBUGG -->
  <!-- <pre class="border border-danger p-3">
      form.valid: {{ form.valid }}
      form.status: {{ form.status }}
      form.value:
      {{ form.value | json }}
      disabled: {{ disabled }}
      submitable: {{ submitable }}      
  </pre> -->
</form>
