<h2 class="text-purple text-center">Log In</h2>

<!-- FORMULAR -->
<form class="mx-auto border border-purple p-5 rounded">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
	<!-- feedback -->
    <div class="invalid-feedback">invalid email format</div>
    <!-- assertive tech -->
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>

  <div class="mb-3">
    <label for="inputPassword5" class="form-label">Password</label>
    <input
      type="password"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
    <!-- feedback -->
    <div class="invalid-feedback">invalid pasword format</div>
    <!-- assertive tech -->
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers,
      and must not contain spaces, special characters, or emoji.
    </div>
  </div>

  <div class="login-footer d-flex justify-content-between">
    <button type="submit" class="btn btn-purple">Log In</button>

    <a href="javascript: void(0)">Forgot password?</a>
  </div>
</form>
