<section class="container m-5 mx-auto">
    <h3 class="text-center mb-4"
        *ngIf="orderID==0; else updOrder">New Order</h3>
    <ng-template #updOrder>
        <h3 class="text-center mb-4">Order {{orderID}}</h3>
    </ng-template>
    <div class="row">
        <div class="col-md-6">
            <form id="singleOrder"
                  action=""
                  autocomplete="off">
                <div class="mb-3 form-group">
                    <label for="clientID"
                           class="col-sm-2 col-form-label me-2">Client ID</label>
                    <input type="text"
                           [required]
                           class="form-control"
                           id="clientID"
                           placeholder="Client ID"
                           name="clientID">
                    <!-- [(ngModel)]="order.clientID" -->
                </div>
                <div class="mb-3 form-group">
                    <label for="dateOrder"
                           class="col-sm-2 col-form-label me-2">Date</label>
                    <input type="date"
                           [required]
                           class="form-control"
                           id="dateOrder"
                           placeholder="1615219338000"
                           name="date">
                    <!-- [(ngModel)]="order.date" -->
                </div>
                <div class="form-group">
                    <label for="totalPrice"
                           class="col-sm-2 col-form-label me-2">Total price</label>
                    <input type="text"
                           disabled
                           class="form-control text-end"
                           id="totalPrice"
                           placeholder="molts euros €"
                           name="price">
                    <!-- [(ngModel)]="order.price" -->
                    <!-- <span class="form-group-text">€</span> -->
                </div>
                <div class="my-3 form-group">
                    <label for="status"
                           class="col-sm-2 col-form-label me-2">Status</label>
                    <select class="form-select">
                        <option *ngFor="let status of selectStatus"
                                [ngValue]="status">
                            {{ status }}
                        </option>
                    </select>
                    <!-- [(ngModel)]="order.status" -->
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <button form="singleOrder"
                    class="btn btn-info me-3"
                    type="submit"
                    *ngIf="orderID==0; else updateBtn"
                    (click)="createOrder(clientId, date, status)">Create order
            </button>
            <ng-template #updateBtn>
                <button form="singleOrder"
                        class="btn btn-info me-3"
                        type="submit"
                        (click)="updateOrder(clientId, date, status)">Update order
                </button>
            </ng-template>
            <button class="btn btn-danger"
                    (click)="deleteOrder()">Delete order</button>
        </div>
        <div class="col-md-6 text-end">
            <button class="btn btn-warning"
                    (click)="addProduct()">Add Product</button>
        </div>
    </div>
    <div class="row mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price per unit</th>
                    <th scope="col">Total</th>
                    <th scope="col"
                        class="text-center">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of orderProducts">
                    <th scope="row">{{product.name}}</th>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td></td>
                    <td class="text-center">
                        <!-- Edit -->
                        <button type="button"
                                class="btn"
                                (click)="updateProduct()">
                            <fa-icon class="mx-md-3"
                                     [icon]="faEdit"
                                     size="lg"
                                     role="button"></fa-icon>
                        </button>

                        <!-- Delete -->
                        <button type="button"
                                class="btn"
                                (click)="deleteProduct()">
                            <fa-icon class="mx-md-3 deleteIcon"
                                     [icon]="faTrashAlt"
                                     size="lg"
                                     role="button"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>