<div class="container py-5">
  <div class="row">
    <div class="col text-erp-black">
      <h5 class="mb-5">Hi!</h5>
      <h5 class="mb-5">We are some lucky students at the IT Academy who just finished the chosen itinerary and got
        the chance to work together on a beer-nice project!</h5>
      <h5 class="mb-5">We are a multicultural team who enjoy spending time together:  laughing or resolving the problems that
        sometimes appear and we hope that soon we'll enjoy some multicultural beers together
        and forget about the problems. Well, It'll be a win-win situation.</h5>
      <h5 class="mb-5">Cheers to that!</h5>
    </div>
  </div>
</div>
