<div class="row m-1"> 
    <h2 class="text-center m-4">Order Review</h2>
    <div >
        <h3>Product Details</h3>
        <ul class="shopping-cart-items">
            <li *ngFor="let item of cartItems; let i=index" class="row clearfix">
                <img class="col-2 img-fluid" [src]="item.image" [alt]="item.name" />
                <span class="col-10 item-name">{{ item.name }}</span>
                <span class="col-6 item-price"><strong>Price:</strong> {{ item.price | number: '1.2-2'}} €</span>
                <span class="col-6 item-quantity"><strong>QTY: </strong>
                    <input class="col-4" type="number"
                           value="{{item.quantity}}"
                           min="1"
                           [(ngModel)]="cartItems[i].quantity"
                           (ngModelChange)="updateItemTotal(i)">
                </span>
                <span class="col-8 mt-3 item-line-price text-highlight"><strong>Sub-Total:</strong> {{ item.total | number: '1.2-2'}} €</span>
                <span class="col-2 mt-2 item-removal">
                    <button class="btn btn-xs" (click)="removeItem(i);">
                        <fa-icon class="mx-md-0 deleteIcon"
                                 [icon]="faTrashAlt"
                                 size="mx"
                                 title="remove"
                                 role="button"></fa-icon>
                    </button>
                </span>
                <hr class="my-2">
            </li>
        </ul>
    </div>
    <div class="row">
        <h3>Payments Methods</h3>
        <div class="col-12">
            <fieldset>
                <input class="col-1" type="radio" name="payment" id="cc">
                <label class="col-11" for="credit-card"><strong>Credit-card</strong></label>
                <input class="col-1" type="radio" name="payment" id="pp">
                <label class="col-11" for="paypal"><strong>Paypal</strong></label>
                <input class="col-1" type="radio" name="payment" id="csh">
                <label class="col-11" for="cash"><strong>Cash</strong></label>
            </fieldset>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3 row justify-content-end">
            <span class="col-4 p-r-05 align-self-end"><strong>Shipping: </strong></span>
            <span class="col-6 text-highlight"> 0 €</span>
        </div>
        <div class="row mt-3 row justify-content-end">
            <span class="col-4 p-r-05"><strong>Total: </strong></span>
            <span class="col-6 text-highlight">{{ cartTotal | number: '1.2-2' }} €</span>
        </div>
    </div>
    <div class="col-12 m-2">
        <button class="btn btn-block btn-erp-blue text-erp-white m-4 w-100" [disabled]="buttonDisabled">Buy Now</button>
    </div>
</div>