// rules colors component css
$colorBtns1:#4E78BB;
$colorDanger: #DD5D56;
$colorGraphics: #60C3D6;
$colorWhite: #FFFFFF;
$colorBgMain: #F4F5F8;
$colorTipo2: #8C8C8C;
$colorDark: #242A32;
 // set up
 *,
 *::after,
 *::before{
   box-sizing: inherit;
 }
// delete price
@mixin noPrice {
  text-decoration: line-through;
  color: $colorDanger;
}

.offer {
  @include noPrice();
  }
#addBtn,
#buyBtn {
  background-color: $colorBtns1;
  border: 0;
}
.quantity{
  padding-top: 0.5rem !important;
}
.showObjPrice {
  color: $colorBtns1;
}
.erasedPrice {
  color: $colorDanger;
  text-transform: capitalize;
}
.offerPrice {
  color: $colorBtns1;
  text-transform: capitalize;
}
  #showUnits{
    padding-top: 5px;
  }
  @media only screen and (max-width: 769px) {
    h4 {
        font-size: 1.2rem !important;
    }
    .fs-5{
      font-size: 1rem!important;
    }
#addBtn,
#buyBtn {
 font-size: 0.75rem;
}
  }
