<section class="container">
    <h3 class=" pt-3">LICENCIA COPYLEFT</h3>
    <p>Todos los componentes de este software llevan la siguiente licencia, excepto cuando se especifique lo contrario.</p>
    <p>Usted es libre de copiar, distribuir y comunicar públicamente, total o parcialmente el código de este software bajo los siguientes términos</p>
    <ul>
        <li>Reconocimiento:  Debe reconocer los créditos de la obra de la manera especificada por el autor o el licenciador.</li>
        <li>Compartir bajo la misma licencia. Si altera o transforma esta obra, o genera una obra derivada, sólo puede distribuir la obra generada bajo una licencia idéntica a ést</li>
    </ul>
    <p>Al reutilizar o distribuir la obra, tiene que dejar bien claro los términos de la licencia de esta obra</p>
    <p>Alguna de estas condiciones puede no aplicarse si se obtiene el permiso del titular de los derechos de autor</p>
    <p>Los derechos derivados de usos legítimos u otras limitaciones reconocidas por ley no se ven afectados por lo anterior.</p>
</section>
