@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Raleway:wght@400;600&display=swap');
// variables to be shared with products components
$font-stack1: 'Monserrat', 'sans-serif';
$font-stack2: 'Raleway', 'sans-serif';

$mainColor1: #242A32;
$mainColor2: #fff;

$bgColor1: #4E78BB;

$deleteColor: #dd5d56;

// ******************************mixing to be shared styles products*****************
@mixin titleH2 {
    font-family: $font-stack1;
    font-weight: 500;
    font-size: 18px;
    color: $mainColor1;
}

@mixin buttonApp {
  background-color: $bgColor1;
  color: $mainColor2;
  text-transform: uppercase;
  font-family: $font-stack1;
  font-weight: 500;
}

@mixin productTable {
  font-family: $font-stack2;
  color: $mainColor1;
}

@mixin imgThumb {
  max-height: 60px;
  width: auto;
  clip-path: circle(20px at center);
  overflow: hidden;
}

@mixin modalPosition {
  position: absolute;
    z-index: 150000;
}

// *****************************product-list style*********************** //
h2 {
  @include titleH2();
}

.appButton {
  @include buttonApp();
}

.table {
  @include productTable();
}

.product-img-thumb {
  @include imgThumb();
}

// .pr-td {
//     max-height: 60px;
// }

.deleteIcon {
    color: $deleteColor;
}

.deleteButton {
    background-color: $deleteColor;
}

.modalMessage {
  @include modalPosition();
  }
