<div class="row mt-5 mb-3">
  <div class="col-8 text-center">
    <h4 class="mb-3 p-2 pb-3">Please check your order details</h4>
  </div>
  <div class="col-4 mb-0 justify-content-center">
    <button
      class="btn btn-block btn-erp-blue text-erp-white w-75 mx-auto"
      type="button"
      (click)="onSubmit()"
    >
      {{ "payment-methods.button.buy-now" | translate }}
    </button>
  </div>
</div>
<div class="container-fluid row mb-5">
  <div class="col-12 col-md-6 col-lg-8">
    <app-billing-information
      class="col-12 col-md-6 col-lg-8"
    ></app-billing-information>
  </div>
  <app-order-review class="col-12 col-md-6 col-lg-4 mb-5"></app-order-review>
</div>
