<section class="bg-erp-black py-3">
  <h2 class="text-erp-cyan text-center">Buttons to Routes</h2>

  <button class="btn btn-outline-erp-blue btn-lg d-block w-25 mx-auto m-3">
    routerLink
  </button>
</section>

<p class="p-2">
  Import the me-core color variables for styling component-scoped SASS
</p>

<p class="text-justify p-2">
  THIS LOREM IPSUM IS A EXTENDED B5 CLASS "TEXT-JUSTIFY" Lorem ipsum dolor sit
  amet consectetur adipisicing elit. Ea praesentium dolore velit tenetur dolorem
  blanditiis, ipsa architecto debitis est ex optio alias laborum corrupti
  eveniet quod facilis dignissimos provident maxime.Culpa, dolorum. Delectus
  libero culpa inventore! Obcaecati nesciunt distinctio tempora qui rerum
  molestiae officia. Nisi quis omnis beatae sequi dolor doloremque quo. Eligendi
  tempore deleniti repellendus? Quae cumque perspiciatis labore?
</p>
<section id="design-guide">
  <header class="bg-erp-red text-center">
    <h1 class="bg-erp-silver py-3">custom bootstrap sample</h1>
    <h2 class="text-erp-silver">text-erp-silver</h2>
    <h3 class="text-erp-silver pb-2 mb-0">bg-erp-red</h3>
  </header>

  <section class="p-3">
    <a href="#">Just a not navbar LINK</a>
    <a href="#">Just a not navbar LINK</a>
  </section>

  <nav class="navbar navbar-expand-lg navbar-dark bg-erp-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-erp-blue" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <section class="text-center py-3">
    <h3 class="text-erp-red">text-erp-red</h3>

    <button class="btn btn-erp-red text-light me-2">
      btn btn-erp-red text-light
    </button>

    <button class="btn btn-erp-red text-dark ms-2">
      btn btn-erp-red text-dark
    </button>

    <button class="btn btn-outline-erp-red m-3">btn btn-outline-erp-red</button>

    <button class="btn btn-outline-erp-blue d-block w-25 mx-auto m-3">
      btn btn-outline-erp-blue
    </button>

    <button class="btn btn-outline-primary d-block w-25 mx-auto my-3">
      btn btn-outline-primary
    </button>
  </section>
</section>

<section class="text align">
  <h3 class="text-center bg-erp-cyan p-2">ICONS</h3>
  <h4 class="text-center">Font Awesome optimized Single library</h4>

  <!-- Font Awesome Single Icon npm Library -->
  <i class="me-3 fas fa-blind fa-spin"></i>
  <i class="me-3 fas fa-palette fa-spin"></i>
  <i class="me-3 fas fa-user text-erp-red fa-pulse"></i>
  <i class="fas fa-spinner fa-pulse text-purple text-erp-cyan"></i>
</section>

<section class="text align">
  <h3 class="text-center bg-erp-cyan p-2">Bootstrap spinners</h3>

  <!-- b5 spinners -->
  <div
    class="spinner-grow bg-erp-cyan"
    style="width: 1rem; height: 1rem"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>

  <button class="btn btn-erp-red" type="button" disabled>
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
    Loading...
  </button>
</section>

<section class="text align">
  <h3 class="text-center bg-erp-cyan p-2">
    NESTED COMPONENTS from START MODULE
  </h3>
</section>

<section class="bg-erp-gray">
  <app-login></app-login>
  <app-recover-password></app-recover-password>
  <app-sign-up></app-sign-up>
</section>

<footer class="bg-erp-black p-3">
  <a href="#" class="">Just a Footer LINK 1</a>
  <a href="#" class="">Just a Footer LINK 2</a>
</footer>

<router-outlet></router-outlet>
