<app-header></app-header>

<h1 class="bg-gold text-center pb-4 pt-4">Welcome to ERP!</h1>

<!-- ROUTES -->
<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- DEVELOPERS VIEWS -->
<!-- FIXME: create compoenent -->
<section class="mt-3 text-center">
  <h2 class="text-erp-pink">links to all <b>views</b></h2>
  <p class="text-erp-red">
    <span>
      This button group give us developers access to all existing views
    </span>
    <span> to be remove in poroduction mode </span>
  </p>
  <hr />

  <div
    class="btn-group"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio1"
      autocomplete="off"
      checked
    />
    <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio2"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio3"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
  </div>
</section>
