<app-header></app-header>

<h1 class="bg-gold">Welcome to ERP!</h1>

<!-- PROVISIONAL DEVELOPMENT COMPONENT NAV -->
<nav class="btn-group-vertical p-3 border bg-erp-cyan">
  <button class="btn btn-erp-silver mb-3">
    <a routerLink="log-in">log in</a>
  </button>
  <button class="btn btn-erp-silver mb-3">
    <a routerLink="sign-up">sign up</a>
  </button>
  <button class="btn btn-erp-silver">
    <a routerLink="recover-password">recover</a>
  </button>
</nav>

<!-- ROUTES -->
<router-outlet></router-outlet>

<app-footer></app-footer>


