<!---New era-->
<div class="container mt-5 mb-5" id="newEra">
  <div class="row mt-5">
    <div class="col-xl-6 col-md-12">
      <div class="card" *ngIf="products">
        <!-- <img class="" *ngIf="products.image > 0" [src]="products.image | noProductImage"  alt="{{ products.name }}" > -->
        <img class="singleProduct" src="https://picsum.photos/300/200/?blur=1&grayscale" alt="{{ products.name }}">
      </div>
      <div class="card">
        <div class="card-body">
          <div>
            {{products.name}}
          </div>
          <div>
            {{products.family}}
          </div>
          <div>
            {{ (products.vat/100) | percent:'2.1'}}
          </div>
        </div>
      </div>
    </div><!-- End column right image-->

    <div class="col-xl-6 col-md-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="checkPrices" id="mainPrice" checked>
                  <label class="form-check-label font-weight-bold text-uppercase mr-5" for="mainPrice">
                    price
                  </label>
                </div>
                <!--end form check-->
              </div>
              <div class="media-body d-flex justify-content-end">
                <h4 class="offer text-dark">1350&euro;</h4>
              </div>
              <!--End media body1-->
              <div class="media-body d-flex justify-content-end">
                <h4 class="showObjPrice">{{ products.price |currency:"€":true}}</h4>
              </div>
              <!--End media body2-->

            </div>
            <!--End stretch-->
          </div>
          <!--End card body1-->
          <div class="card-footer border-0 d-flex justify-content-end pt-0">
            <span class="small mySmall ">pay 0% interest with the credit online</span>
          </div>
          <!--end card footer1-->

          <div class="card-body cleartfix pb-0">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="checkPrices" id="wholeSales">
                  <label class="form-check-label fw-bold text-uppercase" for="wholeSales">
                    wholesales &#42;

                  </label>
                  <div>
                    <small><span class="small">&#42; units product considered wholesales</span></small>
                    <p><span class="" id="shohwStock">{{products.wholesale_quantity}}</span></p>
                  </div>



                </div><!-- End form-check2-->
              </div>
              <div class="media-body d-flex justify-content-end">
                <h4 class="offer text-dark">1350€</h4>
              </div>
              <!--End media body1.2-->
              <div class="media-body d-flex justify-content-end ml-1">
                <h4 class="showObjPrice">{{ products.wholesale_price | currency:"€":true}}</h4>
              </div>
              <!--End media body2.2-->

            </div>
            <!--End stretch2-->
          </div>
          <!--End card body2-->
          <div class="card-footer border-0 d-flex justify-content-end pt-0">
            <span class="small mySmall ">pay 0% interest with the credit online</span>
          </div>
          <!--end card footer2-->
          <!--Begin second block-->
          <div class="row border-top">
            <div class="col border-end border-top">
              <div class="card-body cleartfix">
                <div class="media align-items-stretch d-flex justify-content-between">
                  <div class="media-body col-md-auto pr-0">
                    <div class="text-dark text-capitalize fs-5">stock in store</div>
                  </div>
                  <!--End media body second block-->
                  <div class="media-body d-flex justify-content-end col-3">
                    <div class="text-dark fw-bold" id="showUnits">{{ products.stock }}</div>
                  </div>
                  <!--End media body second block-->
                </div>
                <div class="media-body d-flex justify-content-center mt-1">
                  <form [formGroup]="getUnitsInput" (ngSubmit)="toShoppingCard()" class="needs-validation" novalidate>
                    <div class="form-group text-center">
                      <label class="small" for="unitsToBuy">Quantity items</label>
                      <div class="input-group">

                        <input formControlName="numberUnits" type="number" id="quantity" name="quantity"
                          class="form-control input-number form-control-sm rounded" min="1"
                          max="{{ products.wholesale_quantity }}">

                      </div>
                    </div>
                    <div class="media-body d-flex justify-content-center">
                      <button class="btn btn-primary text-capitalize" id="addBtn" type="submit">add to basket<fa-icon
                          class="ml-1" [icon]="faCartPlus" size="md"></fa-icon></button>
                    </div>
                    <!--End media body second block-->

                  </form>
                </div>
                <!--End media body second block-->

              </div>
              <!--End card body1-->
            </div>
            <!--End col right-->
            <!--beguin col left-->
            <div class="col border-start border-top">
              <div class="card-body cleartfix">
                <div class="media align-items-stretch">
                  <div class="media-body d-flex justify-content-start">
                    <div class="text-dark mr-1">
                      <fa-icon [icon]="faClipBoardCheck" size="md"></fa-icon>
                    </div>
                    <div class="text-dark text-capitalize fs-5 ">save transaction</div>
                  </div>
                  <!--End media body second block-->
                </div>
                <div class="media-body d-flex justify-content-center mt-1">
                  <form class="needs-validation" [formGroup]="getPrice" (ngSubmit)="toShoppingCard()" novalidate>
                    <div class="form-group d-flex">
                      <input class="form-control form-control-sm mt-2" formControlName="totalPrice"
                        value="{{ products.price |currency }}" [(ngModel)]="products.price"
                        (ngModelChange)="addingPrice()" placeholder="Total to pay" aria-label="showPrice" id="showEuro"
                        type="text" readonly>
                      <span class="input-group-btn mt-2 col-2">
                        <fa-icon [icon]="faEuro" size="md"></fa-icon>

                      </span>
                    </div>
                    <div class="media-body d-flex justify-content-center ">
                      <button class="btn btn-primary text-capitalize " id="buyBtn" type="submit">buy now<fa-icon
                          class="ml-2" [icon]="faCheckCircle" size="lg"></fa-icon></button>
                    </div>
                    <!--End media body second block-->

                  </form>
                </div>
                <!--End media body second block-->

              </div>
              <!--End card body1-->
            </div>
            <!--End col left-->
          </div>
          <!--End row second block-->
          <!--End second block-->
        </div>
        <!--enc card content-->
      </div><!-- end card -->

    </div>
    <!--end col letf xl-12-->
  </div>
  <!----End row-->
</div>
