<div class="container">

  <div class="row row-cols-1 row-cols-md-3 g-4 py-4 justify-content-evenly">
    <div class="col">
      <div class="card">
        <img src="./assets/images/products.jpg" class="card-img-top" alt="Products image">
        <div class="card-body">
          <h5 class="card-title">Products</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/images/clients.jpg" class="card-img-top" alt="Clients image">
        <div class="card-body">
          <h5 class="card-title">Clients</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/images/orders.jpg" class="card-img-top" alt="Orders image">
        <div class="card-body">
          <h5 class="card-title">Orders</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 pb-4 justify-content-evenly">
    <div class="col">
      <div class="card">
        <img src="./assets/images/employees.jpg" class="card-img-top" alt="Employees image">
        <div class="card-body">
          <h5 class="card-title">Employees</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/images/stats.jpg" class="card-img-top" alt="Stats image">
        <div class="card-body">
          <h5 class="card-title">Stats</h5>
        </div>
      </div>
    </div>
  </div>

</div>
