<section class="container-fluid">
    
<h3 class="text-center">NEW PRODUCT</h3>
    <div class="row d-flex justify-content-center">
         
        <div class="col-md-6">
            <form id="singleProduct" action="">
                    <div class="my-3 input-group">
                        <label for="nameProduct" class="col-sm-2 col-form-label me-2">Name</label>
                        <input type="text" class="form-control" id="nameProduct" placeholder="Enter product name">
                    </div> 

                    <div class="mb-3 input-group">
                        <label for="stotckProduct" class="col-sm-2 col-form-label me-2">Stock</label>
                        <input type="number" class="form-control" id="stotckProduct" placeholder="Enter products amount">
                    </div>
    
                    <div class="input-group">
                        <label for="priceProduct" class="col-sm-2 col-form-label me-2">Price</label>
                        <input type="text" class="form-control" id="priceProduct" placeholder="Enter price product">
                        <span class="input-group-text">€</span>             
                    </div>
                   
            </form>
        </div>

        <div class="col-md-4 mt-3 d-flex justify-content-center">
            <img src="../assets/images/img-sample-product_900x600.jpg" class="img rounded" alt="image of the product">
            <a href=""><fa-icon [icon]="iconPenSquare" [fixedWidth]="true" size="2x"></fa-icon></a>
        </div>

         
        <div form="singleProduct" class="col-md-6 d-flex justify-content-center pb-3 my-3">
            <button class="col-6 btn btn-erp-general me-3" type="submit">ADD</button>
            <button class="col-6 btn btn-erp-delete" type="submit">DELETE</button>
        </div>
        
        <div class="col-md-4">
            
        </div>
       
    </div>

</section>
