.map-container2 {
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.map-frame {
border: 2px solid black;
height: 100%;
}

.map {
    min-height: 200px;
}