<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<!-- <link rel="stylesheet" type="text/css" href="./node_modules/leaflet/dist/leaflet.css"> -->
<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" /> -->
<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" /> -->

<div class="container py-5">
  <h4 class="mb-5">Contact us!</h4>
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-5 mt-lg-0 pt-lg-3">
      <div>
        <div class="list-inline-item h5">
          <i class="fas fa-building me-3"></i>
          IT Academy
        </div>
      </div>

      <div>
        <div class="list-inline-item h5">
          <i class="fas fa-envelope me-3"></i>
          <a href="mailto:webmaster@example.com">itacademy@barcelonaactiva.cat</a>
        </div>
      </div>

      <div>
        <div class="list-inline-item h5">
          <i class="fas fa-phone me-3"></i>
          <a href="tel:+34934019777">93 401 97 77</a>
        </div>
      </div>

      <div>
        <div class="list-inline-item h5">
          <i class="fas fa-map-marker-alt me-3 align-top"></i>
          <address class="d-inline-block">
            Carrer de la Llacuna, 162<br>
            08018 - Barcelona<br>
            Spain
          </address>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 mt-5 mt-lg-0 p-md-0">
      <!-- <p>MAP!!</p> -->
      <div id="map" class="map w-100 h-100">
      </div>
    </div>
  </div>
</div>