<div class="row">
    <h2>Billing Information</h2>
    <div class="col-12 col-md-6">
        <label for="name">Name</label>
        <input class="col-12" type="text" name="name" id="name">
    </div>
    <div class="col-12 col-md-6">
        <label for="lastName">Last Name</label>
        <input class="col-12" type="text" name="lastName" id="lastName">
    </div>
    <div class="col-12 col-md-6">
        <label for="email">Email</label>
        <input class="col-12" type="email" name="email" id="email">
    </div>
    <div class="col-12 col-md-6">
        <label for="address">Address</label>
        <input class="col-12" type="text" name="address" id="address">
    </div>
    <div class="col-12 col-md-6">
        <label for="country">Country</label><br>
        <input class="col-5" type="text" name="country" id="country">
    </div>
    <div class="col-12 col-md-6">
        <label for="city">City</label><br>
        <input class="col-5" type="text" name="city" id="city">
    </div>
    <div class="col-12 col-md-6">
        <label for="ZIP">ZIP Code</label><br>
        <input class="col-5" type="text" name="ZIP" id="ZIP">
    </div>
    <div class="col-12 col-md-6">
        <label for="phone">Phone</label><br>
        <input class="col-5" type="text" name="phone" id="phone">
    </div>
</div>