.img {
    width: 90%;
}

.img {
    width: 100%;
   
}

.buttonIcon {
    color:#4E78BB;
    position: absolute;
    right: 15px;
    top: 5px; 
} 

.buttonIcon:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

button:hover {
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.btn-erp-delete {
    background-color: #dd5d56;
  }
  
  .btn-erp-general {
    background-color:#4E78BB;
  }
