<div class="container py-5">

    <h4 class="mb-5">Terms & Conditions</h4>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam dolore ab facere quis, provident fugit nemo? Magni consequatur doloribus rerum vel eligendi. Nesciunt rem quod, porro a ut ipsum modi nobis officiis quasi blanditiis fugit dolor eum adipisci vero asperiores omnis voluptatum ab facilis aperiam? Sunt velit beatae molestiae, autem quam doloribus voluptate maxime odit laudantium dolores, at cupiditate repellendus natus minus pariatur inventore. Asperiores neque quisquam aut ipsum, corrupti sint ullam minima consectetur saepe fugit, temporibus quibusdam recusandae cum itaque veritatis quae doloremque nulla aspernatur, vitae accusamus perferendis libero. Alias, fuga. Sit omnis itaque hic repellendus accusantium maiores facilis?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae earum laudantium delectus, impedit modi quo quisquam voluptatem dolor maiores facere.</p>
</div>