/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// html {
//     this defines what 1rem is 10px
//     font-size: 62.5%;
// }

body {
    box-sizing: border-box;
}






/////////////////////////
// THEMING + BOOTSTRAP //
/////////////////////////

// TODO: before production, review assertive tecnologies B5 (for each components secction)
// TODO: before production, review B5 imports you realy used. comment out those not used!

// I. Configuration
@import "../node_modules/bootstrap/scss/functions";

// 1.1. core theme-colors override
@import "./sass/theme-core";

// default variables
@import "../node_modules/bootstrap/scss/variables";

// 1.2. extra theme-colors modify
@import "./sass/theme-extra";

// ... config
@import "../node_modules/bootstrap/scss/mixins";

// II. Layout
@import "../node_modules/bootstrap/scss/utilities"; // spacing, shadow, etc.

// 2.1. B5 custom classes
@import "./sass/custom-classes";

// ... layout
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// III. Content
@import "../node_modules/bootstrap/scss/root"; // CSS variables --blue, etc.
@import "../node_modules/bootstrap/scss/reboot"; // normalize
@import "../node_modules/bootstrap/scss/type"; // headings // (TODO: assertive tech)
// @import "../node_modules/bootstrap/scss/images"; // for PRODUCTS // thumbs, figures, etc.
// @import "../node_modules/bootstrap/scss/tables"; // NO CRUD in FRONT // (TODO: assertive tech)

// IV. Components + NO Javascript
@import "../node_modules/bootstrap/scss/buttons"; // (TODO: assertive tech)
// @import "../node_modules/bootstrap/scss/breadcrumb"; // (TODO: assertive tech)
// @import "../node_modules/bootstrap/scss/pagination"; // (TODO: assertive tech)
// @import "../node_modules/bootstrap/scss/forms"; // for CRUD // (TODO: assertive tech)
@import "../node_modules/bootstrap/scss/close"; // for LGPD - close btn for modals, alerts...
// @import "../node_modules/bootstrap/scss/card"; // (TODO: assertive tech)
// @import "../node_modules/bootstrap/scss/button-group"; // (TODO: assertive tech)
// @import "../node_modules/bootstrap/scss/badge"; // (TODO: assertive tech)
@import "../node_modules/bootstrap/scss/spinners"; // for CRUD req, res status
// @import "../node_modules/bootstrap/scss/progress";

// IV. Components + Javascript
// @import "../node_modules/bootstrap/scss/alert"; // for CRUD feedback // (TODO: assertive tech)
@import "../node_modules/bootstrap/scss/dropdown"; // + popper // (TODO: assertive tech)
@import "../node_modules/bootstrap/scss/navbar"; // requires transitions // (TODO: assertive tech)
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/modal"; // for LGPD - styled prompts, alerts, etc..
// @import "../node_modules/bootstrap/scss/list-group"; // model variations (BRUT, SEMI, DOLÇ) // news feed, etc... // (TODO: assertive tech)

// @import "../node_modules/bootstrap/scss/accordion";
// @import "../node_modules/bootstrap/scss/toasts"; // styled prompts, alerts, etc.. // (TODO: assertive tech)
// @import "../node_modules/bootstrap/scss/carousel"; // AVOID CAROUSELS / not compliant with accessibility standards.
// @import "../node_modules/bootstrap/scss/tooltip"; // + popper // FIXME: replace bootstrap.bundle.js in angular.json if popper finally don't used
// @import "../node_modules/bootstrap/scss/popover"; // + popper (TODO: assertive tech)

// V. Helpers
@import "../node_modules/bootstrap/scss/helpers"; // position, visually-hidden, etc.

// VI. Utilities
@import "../node_modules/bootstrap/scss/utilities/api"; // required for SASS theming

//////////////////
// ROOT GLOBALS //
//////////////////

@import "./sass/root";

//////////////////
// CUSTOM STYLE //
//////////////////

// B5 classes overrides
@import "./sass/overrides";

/*
  NOTE:

  box-sizing in B5 is border-box,
  but it can cause problems with some third party software like
  Google Maps and Google Custom Search Engine.

  On the rare occasion you need to override it,
  use something like the following:

  .selector-for-some-widget {
    box-sizing: content-box;
  }

  https://css-tricks.com/box-sizing/
*/
