<div class="d-flex align-items-center">
    <div class="dropdown">
        <a
           class="nav-link shopping-cart"
           id="cartBasket"
           role="button"
           data-bs-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           href="">
            <fa-icon [icon]="faShoppingCart" size="lg" class="text-erp-black"></fa-icon>
            <span *ngIf="cartCounter > 0"
                  class="shopping-cart-counter d-flex align-items-center justify-content-center">{{cartCounter}}</span>
        </a>

        <div
             class="dropdown-menu dropdown-menu-end menu-box shopping-cart-box"
             aria-labelledby="cartBasket">
            <div class="row">
                <div class="col-2">img</div>
                <div class="col-4">txt</div>
                <div class="col-2">price</div>
                <div class="col-1">quant</div>
                <div class="col-1">remov</div>
                <div class="col-2">total</div>
            </div>

            <div class="shopping-cart-container">
                <div class="shopping-cart-title">ShoppingCart</div>

                <!-- <div class="column-labels">
                    <label class="product-image">Image</label>
                    <label class="product-details">Product</label>
                    <label class="product-price">Price</label>
                    <label class="product-quantity">Quantity</label>
                    <label class="product-removal">Remove</label>
                    <label class="product-line-price">Total</label>
                </div> -->

                <!-- <div class="product">
                    <div class="product-image">
                        <img src="images/nike.jpg">
                    </div>
                    <div class="product-details">
                        <div class="product-title">Nike Flex Form TR Women's Sneaker</div>
                        <p class="product-description"> It has a lightweight, breathable mesh upper with forefoot cables
                            for a locked-down fit.</p>
                    </div>
                    <div class="product-price">12.99</div>
                    <div class="product-quantity">
                        <input type="number" value="2" min="1">
                    </div>
                    <div class="product-removal">
                        <button class="remove-product">
                            Remove
                        </button>
                    </div>
                    <div class="product-line-price">25.98</div>
                </div> -->

                <!-- <div class="product">
                    <div class="product-image">
                        <img src="images/adidas.jpg">
                    </div>
                    <div class="product-details">
                        <div class="product-title">ULTRABOOST UNCAGED SHOES</div>
                        <p class="product-description">Born from running culture, these men's shoes deliver the freedom
                            of a cage-free design</p>
                    </div>
                    <div class="product-price">45.99</div>
                    <div class="product-quantity">
                        <input type="number" value="1" min="1">
                    </div>
                    <div class="product-removal">
                        <button class="remove-product">
                            Remove
                        </button>
                    </div>
                    <div class="product-line-price">45.99</div>
                </div> -->

                <!-- <div class="totals">
                    <div class="totals-item">
                        <label>Subtotal</label>
                        <div class="totals-value" id="cart-subtotal">71.97</div>
                    </div>
                    <div class="totals-item">
                        <label>Tax (5%)</label>
                        <div class="totals-value" id="cart-tax">3.60</div>
                    </div>
                    <div class="totals-item">
                        <label>Shipping</label>
                        <div class="totals-value" id="cart-shipping">15.00</div>
                    </div>
                    <div class="totals-item totals-item-total">
                        <label>Grand Total</label>
                        <div class="totals-value" id="cart-total">90.57</div>
                    </div>
                </div> -->

                <!-- <div>
                    <button class="checkout">Continue shopping</button>
                    <button class="checkout">Checkout</button>
                </div> -->

            </div>

        </div>

        <!-- <div class="dropdown-menu dropdown-menu-end menu-box">



            <form action="/examples/actions/confirmation.php" method="post">
                <p class="hint-text">Sign in with your social media account</p>
                <div class="form-group social-btn clearfix">
                    <a href="#" class="btn btn-secondary facebook-btn float-left"><i class="fa fa-facebook"></i>
                        Facebook</a>
                    <a href="#" class="btn btn-secondary twitter-btn float-right"><i class="fa fa-twitter"></i>
                        Twitter</a>
                </div>
                <div class="or-seperator"><b>or</b></div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="required">
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Login">
                <div class="text-center mt-2">
                    <a href="#">Forgot Your password?</a>
                </div>
            </form>
        </div> -->





    </div>
</div>