<div class="d-flex align-items-center">
    <div class="dropdown">
        <a
           class="nav-link shopping-cart-icon"
           id="cartBasket"
           role="button"
           data-bs-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           href="">
            <fa-icon [icon]="faShoppingCart" size="lg" class="{{iconClass}}"></fa-icon>
            <span *ngIf="cartItems.length > 0"
                  class="shopping-cart-counter d-flex align-items-center justify-content-center {{badgeClass}}">{{cartItems.length}}</span>
        </a>
        <div
             class="dropdown-menu dropdown-menu-end menu-box shopping-cart-box"
             aria-labelledby="cartBasket"
             (click)="dropdownClickControl($event);">

            <div class="shopping-cart">
                <ng-container *ngIf="cartItems.length > 0; else emptyCartTemplate">
                    <div class="shopping-cart-header">
                        <div class="shopping-cart-total">
                            <span class="p-r-05">Total:</span>
                            <span class="text-highlight">{{ cartTotal | number: '1.2-2' }} €</span>
                        </div>
                    </div><!-- /.shopping-cart-header -->

                    <ul class="shopping-cart-items">
                        <li *ngFor="let item of cartItems; let i=index" class="clearfix">
                            <img [src]="item.image" [alt]="item.name" />
                            <span class="item-name">{{ item.name }}</span>
                            <span class="item-price">{{ item.price | number: '1.2-2'}} €</span>
                            <span class="item-quantity">
                                <input type="number"
                                       value="{{item.quantity}}"
                                       min="1"
                                       [(ngModel)]="cartItems[i].quantity"
                                       (ngModelChange)="updateItemTotal(i)">
                            </span>
                            <span class="item-removal">
                                <button class="btn btn-xs" (click)="removeItem(i);">
                                    <fa-icon class="mx-md-3 deleteIcon"
                                             [icon]="faTrashAlt"
                                             size="md"
                                             title="remove"
                                             role="button"></fa-icon>
                                </button>
                            </span>
                            <span class="item-line-price text-highlight">{{ item.total | number: '1.2-2'}} €</span>
                        </li>
                        <!-- 
                    <li class="clearfix">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item2" />
                        <span class="item-name">KS Automatic Mechanic...</span>
                        <span class="item-price">1.249,99 €</span>
                        <span class="item-quantity"><input type="number" value="1" min="1"></span>
                        <span class="item-removal">
                            <button class="btn btn-xs">
                                <fa-icon class="mx-md-3 deleteIcon"
                                         [icon]="faTrashAlt"
                                         size="md"
                                         title="remove"
                                         role="button"></fa-icon>
                            </button>
                        </span>
                        <span class="item-line-price text-highlight">1.249,99 €</span>
                    </li>

                    <li class="clearfix">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item3" />
                        <span class="item-name">Kindle, 6" Glare-Free To...</span>
                        <span class="item-price">129,99 €</span>
                        <span class="item-quantity"><input type="number" value="1" min="1"></span>
                        <span class="item-removal">
                            <button class="btn btn-xs">
                                <fa-icon class="mx-md-3 deleteIcon"
                                         [icon]="faTrashAlt"
                                         size="md"
                                         title="remove"
                                         role="button"></fa-icon>
                            </button>
                        </span>
                        <span class="item-line-price text-highlight">129,99 €</span>
                    </li> -->
                    </ul><!-- /.shopping-cart-items -->

                    <div class="shopping-cart-buttons">
                        <button class="btn btn-block btn-erp-blue text-erp-white" (click)="checkoutRoute()">Checkout</button>
                    </div>
                </ng-container>
                <ng-template #emptyCartTemplate>
                    <div class="text-center text-bold">Cart is empty</div>
                </ng-template>
            </div><!-- /.shopping-cart -->

        </div>
    </div>
</div>