<div class="container-fluid p-0  position-sticky top-0 mb-5" id="navSingleView">
  <nav class="navbar nav-color navbar-expand-md">
    <div class="container-fluid">
      <div class="d-flex">
        <form action="" class="form-group">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="Enter a product..." />
          </div>
        </form>
        <div class="col">
          <p>I have to work to make it sticky under main navbar</p>
        </div>
      </div>
    </div>
  </nav>
</div>
